@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
.fira-sans-extrabold{
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
}
#messg {
    display: flex;
    justify-content: center;
    align-items: center;
}
#word {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#details {
    width: 500px;
    height: 35px;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
button {
    width: 130px;
    height: 30px;
}
.save-country {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
img {
    width: 250px;
}
#about-trees {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    
}
#box {
    border: 2px solid black;
    height: 515px;
}
.add-new-tree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
#add {
    background-color: green;
    border-radius: 1rem;
}
#socials {
    display: flex;
    justify-content: space-between;
    /* background-color: ; */
}
.info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.top {
    display: flex;
    justify-content: right;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    border-radius: 8rem;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}